@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
'background': 'var(--background)',
'cardTheme': 'var(--card-background)',
'color': 'var(--t-color-theme)',
'inputTheme': 'var(--input-theme)',
'colorInput': 'var(--t-input-color-theme)',
*/
:root {
  --background: #d6d2d2;
  --background-secondary: #dad1d1;
  --card-background: #fafafa;
  --t-color-theme: #464343;
  --t-color-product: rgb(129, 224, 129);
  --input-theme: #fafafa;
  --t-input-color-theme: #222121;
  --bar-background: #e2dede;
  --nav-background: #fafafa;
  --t-label-color: #c4b6b6;
}
[data-theme='dark'] {
  --background: #272525;
  --background-secondary: #201e1e;
  --card-background: #3a3636;
  --t-color-theme: #f1eded;
  --t-color-product: rgb(147 197 253);
  --input-theme: #3a3838; 
  --t-input-color-theme: #fafafa;
  --bar-background: #1d1c1c;
  --nav-background: #272525;
  --t-label-color: #312e2e;
}


@layer components {
  .headerIcon {
    @apply h-7 w-7 hover:scale-125 transition-all duration-200 ease-out;
  }
  .sidebarComponent {
    @apply text-sm flex items-center justify-between px-3 py-2 cursor-pointer rounded-lg hover:bg-gray-700 hover:text-white transition-all duration-100 ease-linear;
  }
  .miniIcon {
    @apply h-6 w-6 hover:scale-110 transition-all duration-200 ease-out;
  
  }

  /* admin */
  .adminCard {
    @apply relative bg-cardTheme rounded-[20px] p-3 flex flex-col space-y-4 justify-center items-center h-[250px];
  }
  .adminCardTitle {
    @apply absolute -top-2 -left-2 bg-themeSecondary pl-4 pr-8 py-4 cursor-default rounded-tl-[20px] hover:scale-95 transition-all duration-150 ease-in flex items-center justify-center;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* .swiper {
  height: 300px;
  width: 600px; 
}
.swiperSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
} */


.mySwiper2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}



.swiper {
  width: 50rem;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.mySwiper2 .swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 400px;
  width: 48rem;
}

.mySwiper {
  height: 90%;
  width: 150px;
}

.mySwiper .swiper-slide {
  position: relative;
  width: 100%;
  height: 75px !important;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  border-radius: 12px;
  cursor: pointer;
  /* background: greenyellow; */
}

.mySwiper .swiper-slide img {
  width: 60px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.mySwiper .swiper-slide div {
  height: 75px;
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  background: var(--card-background);
}
.mySwiper .swiper-slide-thumb-active img {
  animation: linear;
  animation-name: scale;
  animation-duration: 300ms;
}
.mySwiper .swiper-slide-thumb-active  div {
  background: rgba(255, 255, 255, 0.13);
  z-index: -1;
  animation: linear;
  animation-name: load;
  animation-duration: 6s;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes load {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.mySwiper2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}